.Stripe__form {
  display: flex;
  flex-direction: column;
}

/* .__PrivateStripeElement {
  display: flex;
  flex-direction: column;
} */

.Stripe__form-header {
  margin: 2rem 0;
}

.Stripe__form-payment {
  /* background-color: red; */
  min-height: 5rem;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .Stripe__form-header {
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 900px) {
  .BigImageLinkContainer_advert {
    font-size: 1rem;
  }

  .Stripe__form-header {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .Stripe__form-payment {
    /* background-color: red; */
    min-height: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .BigImageLinkContainer_advert {
    font-size: 0.8rem;
  }

  .Stripe__form-header {
    font-size: 0.8rem;
  }
}
