.genericpage-container {
  width: 100%;
}

.generic-title__container,
.generic-categories {
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.generic-title {
  /* background-color: aqua; */
}

.generic-home-link {
  width: 51%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-size: 2rem;
}

.generic-inner-link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.generic-text-symbol {
  margin-right: 3px;
}

.generic-categories {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
