.Overlay,
.Overlay_inner {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}

.Overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 498;
}

.Overlay_inner {
  z-index: 499;
  background-color: white;
  width: 80%;
  /* top: 3%; */
  min-height: 30rem;
  max-height: 40rem;
  /* height: max-content; */
  top: 30rem;
  left: 50%;
  transform: translate(-50%, -50%);

  /* inner styling for overlay contents */
  padding: 2rem;
  display: flex;
  gap: 3rem;

  /* position so to position the arrow button for the overlay inner */
}

@media screen and (max-width: 1200px) {
  .Overlay_inner {
    width: 90%;
    top: 25rem;
    height: 25rem;
    max-height: 35rem;
  }
}

@media screen and (max-width: 925px) {
  .Overlay_inner {
    height: 20rem;
    max-height: 30rem;
  }
}

@media screen and (max-width: 600px) {
  .Overlay_inner {
    min-height: 25rem;
    /* padding: 1rem; */
    top: 20rem;
  }
}

@media screen and (max-width: 400px) {
  .Overlay_inner {
    min-height: 15rem;
  }
}

.Trending,
.recent__search {
  flex-basis: 15%;
}

.recently__viewed {
  min-height: 90%;
  flex-basis: 60%;
  flex-grow: 1;
}
.Overlayactive,
.Overlay_inner-active {
  opacity: 1;
  visibility: visible;
}

.Overlay__header {
  font-size: 1.7rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.36px;
  display: inline-block;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
  .Overlay__header {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .Overlay__header {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .Overlay__header {
    font-size: 1rem;
  }
}

/* @media screen and (max-width: 1200px) {
  .recently__viewed-item-container {
  
    height: 90%;
  
  }
} */

.recentlViewedContainer-product-view {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.Search_Results {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.2rem;
  margin-bottom: 2px;
}
