.generic-header-links-container {
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  width: 7rem;
  text-decoration: none;
  /* background-color: orangered; */
}

@media screen and (max-width: 1200px) {
  .generic-header-links-container {
    height: 9rem;
    width: 7rem;
  }
}

.generic-image-holder {
  /* background-color: blue; */
  height: 7rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 4px solid #43d5b0;
}

.generic-image {
  background-image: url(../../assets/jd_549278_al.png);
  background-size: contain;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
}

.generic-header-text {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}
