/* .SpinnerParentContainer {
  margin-left: 50%;
  margin-top: 20%; 
   background-color: red; 
}

.SpinnerOverlay {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.SpinnerContainer,
.SpinnerContainer {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #636767;
  animation: spin 1s infinite linear;
}

.SpinnerContainer__small {
  width: 45px;
  height: 45px;
  border: 3px solid white;
  display: inline-block;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
