.footer-info-link-container {
  background-color: white;
  max-width: 80%;
  margin: 0 auto;
  border: 0;
}

@media screen and (max-width: 1200px) {
  .footer-info-link-container {
    max-width: 90%;
  }
}

.footer-link__container {
  max-width: 140rem;
  margin: 0 auto;
  display: block;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 3rem 0 7rem;
}

.footer-link__section {
  list-style-type: none;
}

.footer-link__header {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 15px 25px 0;
}

@media screen and (max-width: 1200px) {
  .footer-link__header {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 10px 15px 0;
  }
}

@media screen and (max-width: 900px) {
  .footer-link__header {
    font-size: 1rem;
    padding: 0 8px 12px 0;
  }
}

.footer-link__links {
  display: block;
  font-size: 1.1rem;
  line-height: 2.1rem;
  padding: 0 15px 0 0;
}

@media screen and (max-width: 1200px) {
  .footer-link__links {
    font-size: 1rem;
    line-height: 1.8rem;
    padding: 0 10px 0 0;
  }
}

@media screen and (max-width: 900px) {
  .footer-link__links {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .footer-link__links {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

.footer-link__copyright {
  display: block;
  max-width: 140rem;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .footer-link__copyright {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.footer-link__copyright-first,
.footer-link__copyright-second {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-link__copyright-second {
  align-items: center;
  /* flex-basis: 50%; */
}

.footer-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  /* align-self: flex-start; */
}

@media screen and (max-width: 1200px) {
  .footer-text {
    font-size: 1rem;
  }
}

.footer-image-container {
  display: block;
  max-width: 100%;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@media screen and (max-width: 1200px) {
  .footer-image-container {
    height: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .footer-image-container {
    height: 1.5rem;
  }
}

.footer__payment-logo {
  height: 20px;
}

@media screen and (max-width: 1200px) {
  .footer__payment-logo {
    height: 15px;
  }
}

@media screen and (max-width: 500px) {
  .footer__payment-logo {
    height: 10px;
  }
}
