.footer-info-link-container {
  background-color: white;
  max-width: 80%;
  margin: 0 auto;
  border: 0;
}

/* .footer-info-link-container::before,
.footer-info-link-container::after {
  content: "";
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
} */

/* .footer-link-outer-container {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
} */

.footer-link__container {
  max-width: 140rem;
  margin: 0 auto;
  display: block;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 3rem 0 7rem;
}

.footer-link__section {
  list-style-type: none;
}

.footer-link__header {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 15px 25px 0;
}

.footer-link__links {
  display: block;
  font-size: 1.1rem;
  line-height: 2.1rem;
  padding: 0 15px 0 0;
}

.footer-link__copyright {
  display: block;
  max-width: 140rem;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.footer-link__copyright-first,
.footer-link__copyright-second {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-link__copyright-second {
  align-items: center;
  /* flex-basis: 50%; */
}

.footer-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  /* align-self: flex-start; */
}

.footer-image-container {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.footer__payment-logo {
  height: 20px;
}
