.dropdown-container {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding-bottom: 1rem;
  /* min-height: max-content; */
  min-height: 40rem;
  background-color: white;
  color: #fff;
  z-index: 499;
  border-top: 1px solid #ccc;
  transition: all 0.2s ease-out;
  transition-delay: 0.2s;
}

.dropdown-container:hover {
  /* display: block; */
  opacity: 1;
  visibility: visible;
}

.active {
  /* display: block; */
  opacity: 1;
  visibility: visible;
}

.Dropdown_list_link {
  background-color: black;
  color: red;
}

.dropdownTextOuterContainer {
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  /* background-color: #ccc; */
  padding: 2rem;

  display: flex;
  justify-content: space-around;
}

.dropdownTextInnerContainer {
  display: flex;
  justify-content: space-between;
  width: 25%;
  background-color: white;
}

.dropdownTextHeader {
  color: #1a1a1a;
  margin-bottom: 2rem;
}

.dropdownTextHeader h2 {
  font-size: 2rem;
  font-weight: 500;
}

.dropdownImage-container {
  width: 50%;
  height: 60%;
}

.dropdownTextContainer1 {
  /* background-color: blue; */
}

.dropdownTextContainer2 {
  /* background-color: red; */
}

.dropdownText,
.dropdownTextLinks {
  color: #1a1a1a;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.dropdownTextLinks {
  display: inline-block;
  text-decoration: none;
}
.dropdownText:hover,
.dropdownTextLinks:hover {
  text-decoration: underline;
}

.card-image--banner-test {
  background-color: blue;
}

.brandMainContainer {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
}

.brandLettersContainer {
  width: 50%;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  margin-bottom: 3rem;
  /* place-items: center; */
}

.dropdownBrandText {
  /* background-color: red; */
  font-size: 1.3rem;
  color: grey;
  padding: 1.5rem;
  text-align: center;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.dropdownBrandText:hover {
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
}
