.ProductView__recentlyViewed {
  width: 100%;
  height: max-content;

  border-top: 1px solid #ccc;
  /* background-color: red; */
}

/* @media (max-width: 114rem) {
  .ProductView__recentlyViewed {
    height: 65vh;
  }
} */

.ProductView__recentlyViewed-innerContainer {
  max-width: 70%;
  margin: 2rem auto;
  display: block;
  /* background-color: blue; */
  height: 50vh;
}

/* @media (max-width: 114rem) {
  .ProductView__recentlyViewed-innerContainer {
    padding-bottom: 2rem;
  }
}  */

.recently__viewed-item-container {
  margin-top: 1.5rem;
}

.recentlyViewed__product {
  margin-right: 2rem;
}
