.ProductView__recentlyViewed {
  width: 100%;
  height: 50vh;

  border-top: 1px solid #ccc;
  /* background-color: red; */
}

.ProductView__recentlyViewed-innerContainer {
  max-width: 70%;
  margin: 5rem auto;
  /* background-color: blue; */
  height: 80%;
}

.recently__viewed-item-container {
  margin-top: 1.5rem;
}

.recentlyViewed__product {
  margin-right: 2rem;
}
