.Product-Div {
  width: 100%;
  height: 80%;
  overflow: hidden; /* Prevent content overflow */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Optional if needed for positioning */
  background-color: #f3f3f3; /* Optional: for placeholder space */

  display: block;
}

.product-view__small {
  height: 90%;
  display: flex;

  flex-direction: column;
}

.product-view__recentlyViewed {
  height: 100%;
  display: flex;

  flex-direction: column;
}

.Product-Div,
.product-view__small,
.product-view__recentlyViewed {
  margin-right: 1.5rem;
}

/* .Product-Div__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
} */

.Product-Div__image {
  width: 100%; /* Make the image take the full width of the container */
  height: 100%; /* Make the image take the full height of the container */
  object-fit: cover; /* Ensures the image covers the container without distortion */
  object-position: top; /* Centers the image in case of cropping */
}

.Product-Div-description {
  width: 100%;
  /* margin-top: 10rem; */
  height: 6rem;
  margin-top: 2rem;
}

.Product-Div-name,
.Product-Div-price {
  font-family: inherit;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
