.Product-Div {
  width: 100%;
  height: 85%;
  /* height: auto; */
  overflow: hidden; /* Prevent content overflow */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Optional if needed for positioning */
  background-color: #ffffff; /* Optional: for placeholder space */

  display: block;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.product-view__small {
  height: 90%;
  display: flex;

  flex-direction: column;
}

.product-view__recentlyViewed {
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}

.Product-Div,
.product-view__small,
.product-view__recentlyViewed {
  margin-right: 1.5rem;
}

.Product-Div__image {
  width: 100%; /* Make the image take the full width of the container */
  height: 100%; /* Make the image take the full height of the container */
  object-fit: contain; /* Ensures the image covers the container without distortion */
  object-position: top; /* Centers the image in case of cropping */
}

.Product-Div-description {
  width: 100%;
  /* margin-top: 10rem; */
  height: 6rem;
  margin-top: 2rem;
  text-align: center;
}

.Product-Div-name,
.Product-Div-price {
  font-family: inherit;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 1300px) {
  .Product-Div-description {
    margin-top: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .Product-Div-name,
  .Product-Div-price {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  /* .Product-Div {
    height: auto;
  } */

  .Product-Div-description {
    height: 4rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .Product-Div-name,
  .Product-Div-price {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .Product-Div-description {
    height: 3rem;
    margin-top: 0.5;
  }

  .Product-Div-name,
  .Product-Div-price {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 500px) {
  .Product-Div-description {
    height: 2.5rem;
  }

  .Product-Div-name,
  .Product-Div-price {
    font-size: 0.6rem;
  }

  /* .Product-Div {
    height: auto;
  } */
}
