.brands__container {
  max-width: 80%;
  margin: 5rem auto;
  min-height: max-content;
}

@media screen and (max-width: 900px) {
  .brands__container {
    max-width: 85%;
  }
}

.product__header-container {
  width: 70%;
  margin-bottom: 2rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
}

.TopPicksCategory__container {
  width: 23%;
}

.TopPick__Btn {
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  letter-spacing: -0.4px;
  line-height: 3rem;
  padding: 0 3rem 0 3rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 auto;

  background-color: white;
  color: #000000b3;
  transition: all 0.3s;
}

@media screen and (max-width: 900px) {
  .TopPick__Btn {
    height: 4.5rem;
    padding: 0 2rem 0 2rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .TopPick__Btn {
    height: 3.5rem;
    padding: 0 1.5rem 0 1.5rem;
    font-size: 1.1rem;
  }
}

.TopPick__Btn.active {
  background-color: black;
  color: white;
}

/* .btn-primary:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
  } */

.product__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
