.cta-container {
  background-color: #fff;

  padding: 3rem 2rem;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  max-height: max-content;
  max-width: 140rem;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .cta-container {
    padding: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .cta-container {
    padding: 2rem 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .cta-container {
    padding: 1.5rem 1rem;
  }
}
