.GenericShopByCategory-container {
  /* background-color: red; */
  width: 80%;
  margin: 10rem auto;
  padding: 1rem;
}

@media screen and (max-width: 1200px) {
  .GenericShopByCategory-container {
    width: 90%;
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .GenericShopByCategory-container {
    margin: 6rem auto;
  }
}

.GenericCategoryTitleContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 1200px) {
  .GenericCategoryTitleContainer {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .GenericCategoryTitleContainer {
    height: 4rem;
  }
}
.GenericCategoryTitleContainer-link {
  font-size: 2rem;
  text-decoration: none;
  color: #000;
}

.Generic-Category {
  max-width: 100%;

  display: flex;
  justify-content: space-between;
}

/* @media screen and (max-width: 1200px) {
  .Generic-Category {
    height: 40vh;
  }
} */

.Generic-Categories {
  display: block;
  width: 30%;
  height: 100%;
  text-decoration: none;
}

.Generic-Categories-image {
  display: block;
  width: 100%;
  height: auto;
  background-color: red;
  transition: opacity 0.5s;
  margin-bottom: 1rem;
}

.Generic-Categories-image:hover {
  opacity: 0.8;
}

.Generic-Categories-text {
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .Generic-Categories-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .Generic-Categories-text {
    font-size: 1.3rem;
  }
}
